<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/productDetails.css">
<%- include('../includes/menu.ejs')%>
    <main>
        <div class="container-details">
            <div class="card-details">
                <div class="img-details">
                    <img src="<%= onPageProduct.imageurl %>" alt="<%= onPageProduct.title %>"">
                </div>
                <div class="card-header">
                    <h1><%= onPageProduct.title %></h1>
                </div>
                <div class="content-details">
                    <h1><%= onPageProduct.price %> PLN</h1>

                    <p>
                        <%= onPageProduct.description %>
                       
                    </p>
                    <div class="card-form">
                       <%- include('../includes/add-to-cart.ejs')%>
                    </div>
                </div>
            
            </div>
        </div>
    </main>

<%- include('../includes/end.ejs')%>